amqp==5.0.1
asgiref==3.2.10
automium==0.2.6
automium-web==0.1.1
bcrypt==3.2.0
billiard==3.6.3.0
celery==5.0.0
certifi==2020.4.5.1
cffi==1.14.3
chardet==3.0.4
choices==0.1
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
cryptography==3.2.1
cycler==0.10.0
Django==2.2.16
django-ckeditor==6.0.0
django-js-asset==1.2.2
fabric==2.5.0
Flask==1.1.2
idna==2.9
invoke==1.4.1
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
kiwisolver==1.2.0
kombu==5.0.2
legacy==0.1.6
MarkupSafe==1.1.1
matplotlib==3.2.2
numpy==1.19.0
paramiko==2.7.2
Pillow==7.0.0
prompt-toolkit==3.0.8
psycopg2==2.8.5
pycparser==2.20
PyNaCl==1.4.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.23.0
scikit-learn==0.23.2
scipy==1.5.2
six==1.15.0
sklearn==0.0
sqlparse==0.3.1
threadpoolctl==2.1.0
urllib3==1.25.9
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
