{% extends "shop/base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container">
        {%if request.user.is_authenticated%}
            <div class="header"></div>
                Hi, {{user.username}}.
                <br>
                <a href= "/signup"> Register a new user  </a>
                <br>
                 <a href="/login">Log in as a different user</a>
                 <br>
                <a href="{% url 'logout'%}">Exit</a>

        {% else %}

            <div class="header"></div>
                Hi, <b>a guest</b>.<br>
                Please, <a href="/signup">signup</a> or <a href="/login">login</a>!
        {% endif %}
    </div>
{% endblock %}