{% extends "shop/base.html" %}
{% load static %}

{% block title %}Авторизация пользователя{% endblock %}

{% block content %}
    <div class="container">
        <div class="header"></div>
        <h2>Login</h2>
        <form action='' method="POST">
            {% if error %}
                <p>Authorisation Error. Invalid email or password</p>
            {% endif %}
            <p>Email</p>
                    {{ form.email }}
            <br>
            <p>Password</p>
                    {{ form.password }}
            {% csrf_token %}
                    <input type="submit" value="Войти"/>
        </form>
    </div>
{% endblock %}