{% extends "shop/base.html" %}
{% load static %}

{% block title %}Signup{% endblock %}

{% block content %}
    <div class="container">
        <div class="header"></div>
        <h2>Signup</h2>
        <form action='' method="POST">
            <p>Login</p>
                    {{ form.login }}
            <br>
            <p>Email</p>
                    {{ form.email }}
            <br>
            <p>Password</p>
                    {{ form.password }}
            <br>
            <p>Repeat Password</p>
                    {{ form.conf_password }}
                    {% csrf_token %}
            <br>
                    <input type="submit" value="Отправить"/>
        </form>
    </div>
{% endblock %}